---
---

@import "{{ site.theme }}";

header{
  background:#0055A4;
}
#banner{
  background: white; 
  border: 1px solid darken(#0055A4, 10%);
}

img{
    width: 49%;
    height: 50%;
   float: left;
    border: 5px;
}